<div class="auth">
  <app-provider-nav-bar class="header-clear"></app-provider-nav-bar>

  <div class="centered-wrp">
      <div class="container container-landing" layout="column">
          <div class="row row-flex">
              <div class="col-xs-12 col-sm-6">
                  <div class="img-landing"></div>
              </div>
              <div class="col-xs-12 col-sm-6">
                  <div class="text-default text-center-xs">
                      <label class="h2 text-uppercase">Synopsis: Lorem ipsum dolor sit amet, consectetur adipisicing elit.</label>
                      <!-- <p class="">
                          Synopsis: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore tempore laboriosam, vel nemo!
                          Beatae incidunt, cupiditate voluptatem esse. Dignissimos eveniet modi nihil hic harum vel ipsam unde nulla
                          perferendis tenetur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id officia iste odit fugiat,
                          cupiditate omnis, nisi suscipit voluptas eaque, cum facilis. Tenetur sequi accusamus ad quia quidem atque
                          eum hic.
                      </p> -->

                      <div class="row">
                          <div class="col-xs-12">
                              <p class='h4 font-medium lh-md'>If you are looking to see which of your favorite restaurants, bars, or shopping spots are offering a
                                  ride
                                  right now, please visit <a href="#" class="text-info">BringUsNow.com</a> from your mobile phone.
                              </p>
                          </div>
                          <div class="col-xs-12">
                              <p class='h5 font-ligth lh-md'>If you are looking to increase traffic to your business and reward your customers, login or sign up
                                  below!
                              </p>
                          </div>
                      </div>

                      <div layout="row">
                          <div class="btn-wrp text-center-xs pl-0 pr-0">
                              <a class="btn btn-primary btn-rounded btn-fill btn-b2b" ng-click="ctrl.goToLogin()">Log In</a>
                              <a class="btn btn-default btn-rounded btn-fill btn-b2b" ng-click="ctrl.goToRegister()">Sign Up</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>
